<!DOCTYPE html>
<html>
<head>
	<title><%= header.kdbxFile %></title>
	<meta charset="utf-8">
	<style>
		html {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
		}
		h1, h2, h3 {
			margin-top: 2rem;
			margin-bottom: 0;
			border-bottom: 2px solid #ccc;
		}

		.user, .password {
			font-family: monospace;
			font-size: large;
		}
		.group-tags, .entry-tags {
			display: none;
		}
		.tags {
			list-style: none;
			font-size: small;
			padding: 0;
			margin: 0;
		}
		.tags .tag {
			display: inline-block;
			padding: 0.25rem 0.5rem;
			margin: 0 0.25rem;
			border-radius: 0.25rem;
			background-color: #eee;
		}
		.entry-fields:empty {
			display: none;
		}
		.entry-fields li {
			margin: 0;
		}
		article, section {
			display: block;
			margin-left: 1rem;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1><%= header.kdbxFile %></h1>

		<!-- creation date -->
		<small class="subtitle">
			<strong>created:</strong> <%= new Date().toISOString() %>
		</small>
		
		<article class="group">
		<% groups.forEach(group => { %>
		
			<!-- group.name -->
			<h2><%= group.name %></h2>

			<!-- group.times.lastModTime -->
			<small class="subtitle">
				<strong>last modified:</strong> <%= new Date(group.times.lastModTime).toISOString() %>
			</small>
			
			<!-- group.tags -->
			<% if (group.tags && group.tags.length) { %>
				<p class="group-tags">
					<ul class="tags">
						<% group.tags.forEach(tag => { %>
							<li class="tag"><%= tag %></li>
					<% }) %>
					</ul>
				</p>
			<% } %>
			
			<!-- group.notes -->
			<% if (group.notes && group.notes.length) { %>
				<pre><%= group.notes.trim() %></pre>
			<% } %>
		
			<!-- group.entries -->
			<% group.entries.forEach(entry => { %>
			<section class="entry">
				<h3><%= entry.fields.Title %></h3>
				
				<!-- group.times.lastModTime -->
				<small class="subtitle">
					<strong>last modified:</strong> <%= new Date(entry.times.lastModTime).toISOString() %>
				</small>
				
				<!-- entry.tags -->
				<% if (entry.tags && entry.tags.length) { %>
					<p class="entry-tags">
						<ul class="tags">
						<% entry.tags.forEach(tag => { %>
							<li class="tag"><%= tag %></li>
						<% }) %>
						</ul>
					</p>
				<% } %>

				<!-- entry.fields -->
				<ul class="entry-fields">
					<% if (entry.fields.URL) { %>
					<li><strong>url:</strong> <a href="<%= entry.fields.URL %>"><%= entry.fields.URL %></a></li>
					<% } %>
					<% if (entry.fields.UserName) { %>
					<li><strong>username:</strong> <span class="user"><%= entry.fields.UserName %></span></li>
					<% } %>
					<% if (entry.fields.Password) { %>
					<li><strong>password:</strong> <span class="password"><%= entry.fields.Password %></span></li>
					<% } %>
				</ul>
				
				<!-- entry.fields.Notes -->
				<% if (entry.fields.Notes && entry.fields.Notes.length) { %>
					<pre><code><%= entry.fields.Notes.trim() %></code></pre>
				<% } %>
				
			</section>
			<% }) %>
		
		<% }) %>
		</article>
	</div>
</body>
</html>
