<article class="group">
	<h2><%= group.name %></h2>
	<small class="subtitle">
		<strong>last modified:</strong> <%= new Date(group.times.lastModTime).toISOString() %>
	</small>

	<% if (group.tags && group.tags.length) { %>
		<%- include('tags', {tags: group.tags}); %>
	<% } %>

	<% if (group.notes && group.notes.length) { %>
		<pre><%= group.notes.trim() %></pre>
	<% } %>

	<% group.entries.forEach(entry => { %>
	<section class="entry">
		<h3><%= entry.fields.Title %></h3>
		<small class="subtitle">
			<strong>last modified:</strong> <%= new Date(entry.times.lastModTime).toISOString() %>
		</small>

		<div class="row">
			<div class="column">
				<!-- entry.fields -->
				<% if (entry.tags && entry.tags.length) { %>
					<%- include('tags', { tags: entry.tags }); %>
				<% } %>

				<!-- entry.fields -->
				<%- include('fields', { fields: entry.fields }); %>

				<!-- entry.fields.Notes -->
				<% if (entry.fields.Notes && entry.fields.Notes.length) { %>
					<pre><%= entry.fields.Notes.trim() %></pre>
				<% } %>
			</div>
			<div class="column">
				<div class="row">
					<% if (entry.qrs.URL && entry.fields.URL.length > 60) { %>
						<%- include('qrcode', { data: entry.qrs.URL, caption: 'URL' }) %>
					<% } %>
					<% if (entry.qrs.Password) { %>
						<%- include('qrcode', { data: entry.qrs.Password, caption: 'Password' }) %>
					<% } %>
				</div>
			</div>
		</div>

	</section>
	<% }) %>

	<!-- group.groups -->
	<% if (group.groups && group.groups.length) { %>
		<% group.groups.forEach(group => { %>
			<%- include('group', { group }) %>
		<% }) %>
	<% } %>

</article>