<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= header.kdbxFile %></title>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content="keepass-print" />
	<meta name="creation-date" content="<%= new Date().toISOString() %>" />
	<%- include('css') %>
</head>
<body>
	<div class="container">
		<h1><%= header.kdbxFile %></h1>

		<p>
			<strong>created:</strong> <%= new Date().toISOString() %>
		</p>

		<% groups.forEach(group => { %>
			<%- include('group', { group }) %>
		<% }) %>
	</div>
	<hr class="eof"/>
</body>
</html>
